always-auth=true
registry=https://npm.pkg.github.com/hello-nyxo
//npm.pkg.github.com/hello-nyxo/:_authToken=$NODE_AUTH_TOKEN
# @hello-nyxo:registry=https://npm.pkg.github.com/:_authToken=$NODE_AUTH_TOKEN


# //npm.pkg.github.com
# @hello-nyxo:registry=https://npm.pkg.github.com
